<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/web/images/logo2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+BE+WAL:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <main class="detail-page">
      <img class="projectImage" src="<%= result.image %>">
      <section class="preview">
        <div class="card">
          <h2 class="card__projectTitle">
            <span class="card__projectTitle--text">
              tarjeta de proyecto personal
            </span>
          </h2>
          <div class="helement">
            <div class="card__author">
              <div class="card__authorPhoto">
                <img src="<%= result.photo %>" />
              </div>
              <h3 class="card__name"><%= result.proyectName %></h3>
              <p class="card__job"><%= result.job %></p>
              <h3 class="card__name"><%= result.autor %></h3>
            </div>

            <div class="card__project">
              <p class="card__slogan"><%= result.slogan %></p>
              <h3 class="card__descriptionTitle">Descripción del producto:</h3>
              <p class="card__description"><%= result.description %></p>
            </div>
          </div>
          <div class="card__technicalInfo">
            <p class="card__technologies">React JS - HTML - CSS</p>
            <a
              class="icon icon__www"
              href="<%= result.demo %>"
              target="_blank"
              title="Haz click para ver el proyecto online"
              class="fa-brands fa-github"
            >
              Web
            </a>
            <a
              class="icon icon__github"
              href="<%= result.gitHub %>"
              target="_blank"
              title="Haz click para ver el código del proyecto"
            >
              GitHub
            </a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
